body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#root {
    width: 40%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    margin-bottom: 210px;
    font-size: 50px;
}
img {
    width: 60%;
}
p {
    padding: 5px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}