body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: scroll;
}
#root {
  width: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-bottom: 70px;
  font-size: 45px;
}
img {
  width: 80%;
  min-width: 300px;
}
p {
  padding: 5px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}
